[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NPCox"]
	path = NPCox
	url = https://github.com/cran/NPCox
	shallow = true
	registered = true
